.login-form-part{
    margin: 3rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.login-gif{
    height: 62vh;
    margin: 2rem;
}